<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (cart.products.length > 0) { %>
                    <ul>
                        <% for (const product of cart.products) { %>
                            <li>
                                <p><%= product.title %> (<%= product.qty %>)</p>
                                <form action="/delete-cart" method="post">
                                    <input type="hidden" name="productId" value="<%= product.id %>">
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                            </li>
                        <% } %>
                    </ul>
                    <p>Total Quantity:  <%= cart.totalQuantity %></p>
                    <p>Total Price:  $ <%= cart.totalPrice %></p>

                <% } else { %>
                    <h2>You have no items in your Cart</h2>
                    <% } %>
            </main>
        <%- include('../includes/end.ejs') %>